server:
  http_listen_port: 9080

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: eventx
    static_configs:
      - targets:
          - localhost
        labels:
          job: eventx
          __path__: /var/log/eventx/*.log
