name: Docker CI - EventX

on:
  push:
    branches: [ user, main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Step 3: Build and run app container
      - name: Build and run Docker container
        run: |
          docker compose -f docker-compose.test.yml up --build --abort-on-container-exit

      # Step 4: Cleanup
      - name: Cleanup Docker
        if: always()
        run: |
          docker compose -f docker-compose.test.yml down -v
